{% include 'layouts/header.njk' %}

  <body>
    {% include 'layouts/hero.njk' %}
    <button class="btn" id="login" onclick="window.location.href = '/main/'">Login</button>
    <button class="btn" id="signup">Sign-up</button>
{% include 'layouts/footer.njk' %}
