{% include 'layouts/header.njk' %}

  <body>
    <div class="container">
      <div class="row">
        <div class="six columns offset-by-three align-centre">
          {% include 'layouts/hero.njk' %}
        </br>
          <img src="{{ '/assets/images/sing-in-btnx1.png' }}" onclick="login()" style="cursor: pointer; margin-top: 20px;"/>
        </div>
      </div>
    </div>
{% include 'layouts/footer.njk' %}
