{% include 'layouts/header.njk' %}

  <body>
    {% include 'layouts/hero.njk' %}
    <button class="btn" id="login">Login</button>
    <button class="btn" id="signup">Sign-up</button>
  </body>
</html>
