<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />
    <link type="text/css" rel="stylesheet" href="{{ '/css/styles.css' | url }}" />
    <link type="text/css" rel="stylesheet" href="{{ '/css/grid.css' | url }}" />
    <title>Uno Score Tracker</title>
  </head>
  <header>
    <ul class="nav">
      <li class="nav-item" id="player" onclick="">+ Player</li>
      <li class="nav-item" id="rule" onclick="">+ Rule</li>
    </ul>
    <p class="welcome" id="welcome"></p>
  </header>
