<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />
    <link type="text/css" rel="stylesheet" href="{{ '/css/styles.css' | url }}" />
    <link type="text/css" rel="stylesheet" href="{{ '/css/grid.css' | url }}" />
<link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Jost:ital,wght@0,400;1,200&display=swap" rel="stylesheet">
    <title>Uno Score Tracker</title>
  </head>
  <header>
    <h1 class="nav-title" id="title" onclick="">Uno Score Tracker</h1>
    <ul class="nav">
      <li class="nav-item" id="player" onclick="">+ Player</li>
      <li class="nav-item" id="rule" onclick="">+ Rule</li>
      <li class="nav-item" id="reset" onclick="reset('teams')">Reset</li>
    </ul>
    <p class="welcome" id="welcome"></p>
  </header>
