{% include 'layouts/header.njk' %}
{% include 'layouts/denied.njk' %}
  <body onload="display('teams'); display('rules')">
    <div class="container">

    {{ content | safe }}

{% include 'layouts/footer.njk' %}
